{% extends "site.twig" %}

{% block content %}
    <h1>{{ good.name }}</h1>

    {{ template.content|raw }}

    <div style="padding: 0 30px 0 20px;">
        {{ good.content|raw }}
    </div>

{% endblock %}