{% extends "site.twig" %}

{% block content %}
    <div id="content" class="content">

        <p>Ваша корзина пуста</p>


        <p><a href="/shop.html">Вернуться в магазин &gt;</a></p>
    </div>
{% endblock %}
