<script type="text/javascript"
        src="/?mode=ajax&controller=\Cabinet\Structure\User\Site&action=recover&subMode=js"></script>
<link media="all" rel="stylesheet" type="text/css" href="/?mode=ajax&controller=\Cabinet\Structure\User\Site&action=recover&subMode=css"/>
{{ start | raw }}
<br>
<table>
    <tr>
        <td width="100">Login (email)*:</td>
        <td><input type="text" value="" name="login"></td>
    </tr>
    <tr>
        <td colspan="2"><br><br></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="ВОССТАНОВИТЬ">
        </td>
    </tr>
</table>
</form>