{# Авторизация #}
{% extends "Shop/Structure/Basket/Site/index.twig" %}

{% block tabContent %}
<div class="{{ tab1 }} multistep_step span12 user_not_logged_in" id="multistep_step1" data-step="1">
    <div class="box_style">
        <div class="formStart"></div>
        <div class="formPart">
            <input type="hidden" name="mode" value="ajax" />
            <input type="hidden" name="controller" value="Shop\Structure\Basket\Site\Tabs" />
            <input type="hidden" name="action" value="authorization" />
            </div>
        <div class="formPart">
            <table>
                <tr>
                    <td><label for="lastname" class="">Фамилия
                            <abbr class="required" title="обязательно">*</abbr>
                        </label></td>
                    <td><input type="text" value="" id="lastname" name="lastname"></td>
                </tr>
                <tr>
                    <td><label for="name" class="">Имя
                            <abbr class="required" title="обязательно">*</abbr>
                        </label></td>
                    <td><input type="text" value="" id="name" name="name"></td>
                </tr>
                <tr>
                    <td><label for="phone" class="">Телефон
                            <abbr class="required" title="обязательно">*</abbr>
                        </label></td>
                    <td><input type="text" value="" id="phone" name="phone"></td>
                </tr>
                <tr>
                    <td><label for="email" class="">E-mail
                            <abbr class="required" title="обязательно">*</abbr>
                        </label></td>
                    <td><input type="text" value="" id="email" name="email"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><br></td>
                </tr>
            </table>
            </div>
        <script type="text/javascript">
            var userInfo = getCookie('userInfo');
            if (userInfo != null) {
                userInfo = jQuery.parseJSON(userInfo);
                if (userInfo.lastname != null) {
                    $('#lastname').val(userInfo.lastname);
                }
                if (userInfo.name != null) {
                    $('#name').val(userInfo.name);
                }
                if (userInfo.phone != null) {
                    $('#phone').val(userInfo.phone);
                }
                if (userInfo.email != null) {
                    $('#email').val(userInfo.email);
                }
            }
            jQuery.ajax({
                type: 'GET',
                url: '/?mode=ajax&controller=Shop\\Structure\\Basket\\Site\\Tabs&action=authorization&target=start',
                dataType: 'text',
                async: false,
                success: function (data) {
                    $(".formStart").replaceWith(data + '</form>');
                    $("#authorizationForm").append($(".formPart"));
                    $("#authorizationForm .formPart").removeAttr('class');
                    $('.formPart').remove();
                }
            });
        </script>
        <script type="text/javascript"
                src="/?mode=ajax&controller=Shop\Structure\Basket\Site\Tabs&action=authorization&target=js"></script>
        <link media="all" rel="stylesheet" type="text/css" href="/?mode=ajax&controller=Shop\Structure\Basket\Site\Tabs&action=authorization&target=css"/>

        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block tabCss %}
{% endblock %}

{% block tabJs %}
{% endblock %}