{# Оплата и способ оплаты #}

<div class="{{ tab3 }} multistep_step span12" id="multistep_step3" data-step="4">
    <div class="box_style">


        <h3>Способ оплаты</h3>

        <div class="clear"></div>

        <div id="payment">
            <ul class="payment_methods methods">
                <!--<li>
                    <input type="radio" id="payment_method_bacs" class="input-radio"
                           name="payment_method" value="bacs"/>
                    <label for="payment_method_bacs">Прямой банковский перевод </label>

                    <div class="payment_box payment_method_bacs" style="display:none;"><p>
                            Произведите платеж непосредственно на наш банковский счет.
                            Пожалуйста, указывайте номер вашего заказа в описании перевода.
                            Ваш заказ будет отправлен, когда деньги поступят на наш
                            счет.</p>
                    </div>
                </li>
                <li>
                    <input type="radio" id="payment_method_cheque" class="input-radio"
                           name="payment_method" value="cheque"/>
                    <label for="payment_method_cheque">Оплата чеками </label>

                    <div class="payment_box payment_method_cheque" style="display:none;"><p>
                            Пожалуйста отправьте ваш чек, указав данные магазина: название,
                            улицу, город, страну/штат, почтовый индекс.</p>
                    </div>
                </li>-->
                <li>
                    <input type="radio" id="payment_method_cod" class="input-radio"
                           name="payment_method" value="cod" checked='checked'/>
                    <label for="payment_method_cod">Наличными </label>

                    <div class="payment_box payment_method_cod"><p>Оплата наличными при
                            доставке.</p>
                    </div>
                </li>
                <!--<li>
                    <input type="radio" id="payment_method_paypal" class="input-radio"
                           name="payment_method" value="paypal"/>
                    <label for="payment_method_paypal">PayPal
                        <img src="/i/paypal.png" alt="PayPal"/>
                    </label>

                    <div class="payment_box payment_method_paypal" style="display:none;"><p>
                            Заплатить через PayPal; вы можете заплатить пластиковой картой
                            если у вас нет PayPal аккаунта</p>
                    </div>
                </li>-->
            </ul>


            <div class="clear"></div>

        </div>

        <div class="clear"></div>
    </div>
</div>